<a href="https://github.com/tastejs/hacker-news-pwas" class="github-corner" aria-label="View source on Github">
  {% include github-corner.svg %}
</a>

<section class="flex-ns vh-100 items-center bg-near-white">
  <div class="mw6 ph5">
    <img src="https://hnpwa.com/assets/images/angular2hn-mobile.png"> 
  </div>
  <div class="tc tl-ns ph3 avenir">
    <h1 class="f3 f1-l fw4 mb3 mt4 mt0-ns">GitPoint</h1>
    <h2 class="f5 f3-l fw3 mb4 mb5-l lh-title">GitHub for iOS.</h2>
    <a href="https://www.amazon.com/Apple-iPhone-Warranty-Unlocked-Cellphone/dp/B015E8UTIU/ref=sr_1_2?ie=UTF8&qid=1481330742&sr=8-2&keywords=iphone+6s" class="dib grow">
      {% include icon-app-store.svg %}
    </a>
  </div>
</section>