<div class="vh-85 dt w-100 bg-header bg-primary flex flex-column items-center justify-center">
  <div class="dtc v-mid tc ph3 ph4-l">
    <div class="link header-logo br-100 pa4 ba bg-dark-gray h4 w4 dib flex items-center justify-center" href="/">
      <img class="w4" src="/assets/images/logo-white.png" alt="GitPoint">
    </div>
  </div>

  <div class="flex flex-column items-center justify-center pv1 tc ph4 karla">
    <h1 class="pt3 mb0 f3 f2-m f2-l fw6 tc dark-gray">GitPoint</h1>

    <p class="f5 f3-ns mid-gray lh-copy mt2 mb4 mw6">
      GitHub in your pocket
    </p>
    <a href="https://itunes.apple.com/app/gitpoint/id1251245162?mt=8" class="dib grow">
      {% include icon-app-store.svg %}
    </a>
  </div>

  <a href="https://github.com/housseindjirdeh/git-point" class="github-corner link" aria-label="View source on GitHub">
    {% include github-corner.svg %}
  </a>
</div>