// Github Corner
.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
  fill: white;

  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }

  20%,
    60% {
    transform: rotate(-25deg);
  }

  40%,
    80% {
    transform: rotate(10deg);
  }
}


@media (max-width: 500px) {
  .github-corner {
    &:hover .octo-arm {
      animation: none;
    }
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}

.header-logo {
  box-shadow: 0 8px 16px 0 rgba(83,88,120,.2);
  animation: bounce 2.5s infinite alternate;
  -webkit-animation: bounce 2.5s infinite alternate;
}

.bg-header {
  box-shadow: 0 5px 8px 0 rgba(72,89,102,.06);
}

.bg-primary {
  background-image: linear-gradient(-180deg,#F2F5F8 0,#FAFBFC 99%);
}

.bg-secondary {
  background-color: #eef2f5''
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}