---
layout: default
---
<div class="flex flex-column items-center justify-center pv5 tc ph4 avenir">
  <h2 class="f3 f2-ns fw5 mb4 dark-gray">
    GitHub in your pocket
  </h2>
  
  <p class="f5 f4-ns mid-gray lh-copy mw8">
    Built with React Native, GitPoint is an open source GitHub client with a minimally beautiful UI.
  </p>

  <p class="f5 f4-ns mid-gray lh-copy mw8">
    With a suite of features, GitPoint is the most complete free iOS client and the easiest way to use
    GitHub on your device.
  </p>
</div>