---
layout: default
---

<div class="dn db-ns">
  <div class="flex flex-column items-center justify-center pv5 tc ph4 avenir bg-secondary">
    <h2 class="f3 f2-m f2-l fw6 tc dark-gray mb2">
      What is GitPoint?
    </h2>
    
    <p class="f6 f4-ns gray lh-copy mw7 mb5">
      View repository and user information, control your notifications and even manage your issues and pull requests. GitPoint is the most feature-rich unofficial GitHub iOS client that is 100% free.
    </p>

    <div class="flex h-100 items-center">
      <img class="mw5" src="/assets/images/profile-screen-side.png" alt="GitPoint Profile Screen">
    </div>
  </div>
</div>

<div class="db dn-ns">
  <article class="h6-l bt b--black-10 dark-gray lh-copy-ns ph2 ph5-m pv4 pv5-ns avenir bg-secondary">
    <div class="flex flex-column flex-row-l justify-center center">

      <div class="flex h-inherit items-center w-third-l mr7-l tc tl-l">
        <div class="flex flex-column">
          <h2 class="f3 f2-m f2-l fw6 dark-gray mb2">
            What is GitPoint?
          </h2>

          <p class="f6 f4-ns gray lh-copy mw7 mb5">
            View repository and user information, control your notifications and even manage your issues and pull requests. GitPoint
            is the most feature-rich unofficial GitHub iOS client that is 100% free.
          </p>
        </div>
      </div>

      <div class="fl-l">
        <div class="flex h-100 items-center justify-center">
          <img class="grow mw5" src="/assets/images/profile-screen-side.png" alt="GitPoint Profile Screen">
        </div>
      </div>

    </div>
  </article>
</div>

<article class="h6-l bt b--black-10 dark-gray lh-copy-ns ph2 ph5-m pv4 pv5-ns avenir bg-primary">
  <div class="flex flex-column flex-row-l justify-center center">

    <div class="flex h-inherit items-center w-third-l mr7-l tc tl-l">
      <div class="flex flex-column">
        <h2 class="f3 f2-m f2-l fw6 dark-gray mb2">
          Control your notifications
        </h2>

        <p class="f6 f4-ns gray lh-copy mw7 mb5">
          View and control all of your unread and participating notifications.
        </p>
      </div>
    </div>

    <div class="fl-l">
      <div class="flex h-100 items-center justify-center">
        <img class="grow mw5" src="/assets/images/notifications-screen.png" alt="GitPoint Notifications Screen">
      </div>
    </div>

  </div>
</article>

<article class="h6-l bt b--black-10 dark-gray lh-copy-ns ph2 ph5-m pv4 pv5-ns avenir bg-secondary">
  <div class="flex flex-column flex-row-l justify-center center">

  <div class="dn db-l">
    <div class="flex h-100 items-center">
      <img class="grow mw5" src="/assets/images/repository-screen.png" alt="GitPoint Repository Screen">
    </div>
  </div>

  <div class="flex h-inherit items-center w-third-l ml7-l tc tl-l">
      <div class="flex flex-column">
        <h2 class="f3 f2-m f2-l fw6 dark-gray mb2">
          Repository Details
        </h2>

        <p class="f6 f4-ns gray lh-copy mw7 mb5">
          GitPoint is an open source GitHub client with a minimally beautiful UI. 
          Built with React Native, it is the most complete (100% free) iOS client and is the easiest way to use
          GitHub on your device.
        </p>
      </div>
    </div>

  <div class="dn-l">
    <div class="flex h-100 items-center justify-center">
      <img class="grow mw5" src="/assets/images/repository-screen.png" alt="GitPoint Repository Screen">
    </div>
  </div>
  
  </div>
</article>


<div class="flex flex-column items-center justify-center pv5 tc ph4 avenir bg-primary">
  <h2 class="f3 f2-m f2-l fw6 tc dark-gray mb2">
    Complete issue and pull request
  </h2>
  
  <p class="f6 f4-ns gray lh-copy mw7 mb5">
    Communicate on issue/pull request conversations, apply labels, assignees and more. With GitPoint, you can even review and merge pull requests with a design you're already familiar with.
  </p>

  <div class="flex flex-column flex-row-ns items-center justify-center justify-between-ns w-80">
    <img class="mw5 mw4-m mb5 mb0-ns grow" src="/assets/images/issue-screen.png" alt="GitPoint Issue Screen">
    <img class="mw5 mw4-m mb5 mb0-ns grow" src="/assets/images/pull-request-screen.png" alt="GitPoint Pull Request Screen">
    <img class="mw5 mw4-m mb5 mb0-ns grow" src="/assets/images/issue-change-screen.png" alt="GitPoint Issue Change Screen">
  </div>
</div>

<div class="pv5 ph4 avenir bg-tertiary flex justify-center">
<div class="flex flex-column flex-row-l items-center items-start-l tc tl-ns flex-wrap justify-between w-80">

    <div class="w-40-l">
      <div class="flex flex-column w6 mb4">
        <h2 class="f4 fw6 white mb2">
          Another GitHub client?
        </h2>
        
        <p class="f5 white lh-copy mw7">
          Every single iOS client that I tried to use was either too simple (single-feature applications)
          or required payment for even the most basic of requirements (such as accessing a private repository or commenting on an issue).
        </p>

        <p class="f5 white lh-copy mw7">
          I was pretty suprised to not be able to find a single client that had everything I
          needed, so I built this bad boy.
        </p>
      </div>

      <div class="flex flex-column w6 mb4 mb0-l">
        <h2 class="f4 fw6 white mb2">
        Y no Android?!?
        </h2>
        
        <p class="f5 white lh-copy mw7">
          Since this was built with React Native, publishing an Android version is something that we definitely need to do.
        </p>

        <p class="f5 white lh-copy mw7">
          There's an <a class="link white fw6 dim" href="https://github.com/housseindjirdeh/git-point/issues/2">open issue</a> to track this, so take a look there to get an idea of when it'll be released.
        </p>
      </div>
    </div>

    <div class="w-40-l">
      <div class="flex flex-column w6 mb4">
        <h2 class="f4 fw6 white mb2">
          Does this have everything?
        </h2>
        
        <p class="f5 white lh-copy mw7">
          Nope! Well, not yet :). There are definitely features that still need to be included and 
          you'll most probably notice a few bugs here and there.
        </p>

        <p class="f5 white lh-copy mw7">
          Please take a look at the <a class="link white fw6 dim" href="https://github.com/housseindjirdeh/git-point/labels/enhancement">issue list</a> to see all of the features we plan on adding. Please don't
          hesitate to file an issue for a bug or a feature request!
        </p>
      </div>

      <div class="flex flex-column w6">
        <h2 class="f4 fw6 white mb2">
          Can I contribute?
        </h2>
        
        <p class="f5 white lh-copy mw7">
          Yes please! GitPoint is open source - that's what makes it so great. Please feel free to put up an issue for anything you notice or a pull request to fix an existing one. 
          Even if you have little to no experience with React Native, I'll be more than happy to help :).
        </p>

        <p class="f5 white lh-copy mw7">
          Take a look at the <a class="link white fw6 dim" href="https://github.com/housseindjirdeh/git-point/blob/master/CONTRIBUTING.md">contributing guidelines</a> for all the steps you need to get the project running locally as well as detailed steps on
          how you can contribute.
        </p>
      </div>
    </div>
  </div>
  </div>
