---
layout: default
---
<div class="flex flex-column justify-center center pv5 karla bg-secondary">
  <div class="flex flex-column justify-center center">

    <div class="flex h-inherit items-center justify-center tc">
      <div class="flex flex-column">
        <h2 class="f3 f2-m f2-l fw7 dark-gray mb2">
          What is GitPoint?
        </h2>

        <p class="f6 f4-ns gray lh-copy mw7 mb5">
          View repository and user information, control your notifications and even manage your issues 
          and pull requests. 
          GitPoint is the most feature-rich unofficial GitHub iOS client that is 100% free.
        </p>
      </div>
    </div>

    <div class="flex items-center justify-center">
      <img class="mw5" src="/assets/images/profile-screen-side.png" alt="GitPoint Profile Screen">
    </div>
  </div>
</div>

<article class="h6-l bt b--black-10 dark-gray lh-copy-ns ph2 ph5-m pv4 pv5-ns karla bg-primary">
  <div class="flex flex-column flex-row-l justify-center center">

    <div class="flex h-inherit items-center w-third-l mr7-l tc tl-l">
      <div class="flex flex-column">
        <h2 class="f3 f2-m f2-l fw7 dark-gray mb2">
          Control your notifications
        </h2>

        <p class="f6 f4-ns gray lh-copy mw7 mb5">
          View and control all of your unread and participating notifications.
        </p>
      </div>
    </div>

    <div class="fl-l">
      <div class="flex h-100 items-center justify-center">
        <img class="grow mw5" src="/assets/images/notifications-screen.png" alt="GitPoint Notifications Screen">
      </div>
    </div>

  </div>
</article>

<article class="h6-l bt b--black-10 dark-gray lh-copy-ns ph2 ph5-m pv4 pv5-ns karla bg-secondary">
  <div class="flex flex-column flex-row-l justify-center center">

  <div class="dn db-l">
    <div class="flex h-100 items-center">
      <img class="grow mw5" src="/assets/images/repository-screen.png" alt="GitPoint Repository Screen">
    </div>
  </div>

  <div class="flex h-inherit items-center w-third-l ml7-l tc tl-l">
      <div class="flex flex-column">
        <h2 class="f3 f2-m f2-l fw7 dark-gray mb2">
          View any repository or user
        </h2>

        <p class="f6 f4-ns gray lh-copy mw7 mb5">
          Easily obtain repository, user and organization information with a clean and simple interface.
        </p>
      </div>
    </div>

  <div class="dn-l">
    <div class="flex h-100 items-center justify-center">
      <img class="grow mw5" src="/assets/images/repository-screen.png" alt="GitPoint Repository Screen">
    </div>
  </div>
  
  </div>
</article>


<div class="flex flex-column items-center justify-center pv5 tc ph4 karla bg-primary">
  <h2 class="f3 f2-m f2-l fw7 tc dark-gray mb2">
    Manage issues and pull requests
  </h2>
  
  <p class="f6 f4-ns gray lh-copy mw7 mb5">
    Communicate on issue/pull request conversations, apply labels and assignees, and more. 
    With GitPoint, you can even review and merge pull requests with a design you're already familiar with.
  </p>

  <div class="flex flex-column flex-row-ns items-center justify-center justify-between-ns w-80">
    <img class="mw5 mw4-m mb5 mb0-ns grow" src="/assets/images/issue-screen.png" alt="GitPoint Issue Screen">
    <img class="mw5 mw4-m mb5 mb0-ns grow" src="/assets/images/pull-request-screen.png" alt="GitPoint Pull Request Screen">
    <img class="mw5 mw4-m mb5 mb0-ns grow" src="/assets/images/issue-change-screen.png" alt="GitPoint Issue Change Screen">
  </div>
</div>

<div class="pv5 ph4 karla bg-tertiary flex justify-center">
<div class="flex flex-column flex-row-l items-center items-start-l tc tl-ns flex-wrap justify-between w-80">

    <div class="w-40-l">
      <div class="flex flex-column w6 mb4">
        <h2 class="f3 fw7 white mb2">
          Another GitHub client?
        </h2>
        
        <p class="f5 white lh-copy mw7">
          Every currently available iOS client that I tried to use was either too simple (single-feature), 
          required payment for the most basic of features (such as commenting on an issue) 
          and/or didn't have the best UI.
        </p>

        <p class="f5 white lh-copy mw7">
          I was pretty suprised that I couldn't find a single client that I enjoyed using, 
          so I built this bad boy.
        </p>
      </div>

      <div class="flex flex-column w6 mb4 mb0-l">
        <h2 class="f3 fw7 white mb2">
        Y no Android?!?
        </h2>
        
        <p class="f5 white lh-copy mw7">
          Since this was built with React Native, publishing an Android version is something that we 
          definitely need to do.
        </p>

        <p class="f5 white lh-copy mw7">
          There's an <a class="link white fw7 dim" href="https://github.com/gitpoint/git-point/issues/2">open issue</a> 
          to track this, so take a look there to get an idea of when it'll be released!
        </p>
      </div>
    </div>

    <div class="w-40-l">
      <div class="flex flex-column w6 mb4">
        <h2 class="f3 fw7 white mb2">
          Does this have everything?
        </h2>
        
        <p class="f5 white lh-copy mw7">
          Nope! Well, not yet :). There are definitely features that still need to be included and 
          you may notice a few bugs here and there.
        </p>

        <p class="f5 white lh-copy mw7">
          Please take a look at the <a class="link white fw7 dim" href="https://github.com/gitpoint/git-point/labels/enhancement">issue list</a> 
          to see all of the features we plan on adding. 
          Moreover, don't hesitate to file an issue for a bug or a feature request!
        </p>
      </div>

      <div class="flex flex-column w6">
        <h2 class="f3 fw7 white mb2">
          Can I contribute?
        </h2>
        
        <p class="f5 white lh-copy mw7">
          Yes please! GitPoint is open source and that's what makes it so great. 
          Feel free to put up an issue for anything you notice or a pull request to fix an existing one. 
          Even if you have little to no experience with React Native, I'll be more than happy to help :).
        </p>

        <p class="f5 white lh-copy mw7">
          Take a look at the <a class="link white fw7 dim" href="https://github.com/gitpoint/git-point/blob/master/CONTRIBUTING.md">contributing guidelines</a> 
          for detailed steps on how you can contribute.
        </p>
      </div>
    </div>
  </div>
  </div>
